<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Commerce</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="app">
    <header>
      <h2>YComers</h2>
      <button class="shoppi-cart" @click="cartOpened = !cartOpened">Cart ({{ addedProducts.length }})</button>
      <div class="product-list" v-show="cartOpened">
        <div class="product-item" v-for="(product, i) in addedProducts" :key="i">
          <img class="product-item__image" :src="product.images[0].image" :alt="product.name">
          <span class="product-item__title">{{ product.name }}</span>
          <span class="product-item__price">${{ product.price }}</span>
          <span class="product-item__quantity">({{ product.quantity }})</span>
        </div>
        <p>Total: {{ totalProducts }}</p>
      </div>
    </header>
    <main>
      <product v-for="product in products" :key="product.name" :product="product" @send-product="addProduct($event)"></product>
    </main>
  </div>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const { createApp } = Vue;

    const app = createApp({
      data() {
        return {
          products: [],
          addedProducts: [],
          cartOpened: false,
          total: 0
        }
      },
      methods: {
        addProduct(newProduct) {
          if (this.addedProducts.find(product => product.name === newProduct.name)) {
            if (newProduct.stock <= 0) {
              return
            }
            newProduct.quantity += 1
            newProduct.stock -= 1
          } else {
            this.addedProducts.push(newProduct)
          }
        }
      },
      computed: {
        formatedPrice() {
          return Intl.NumberFormat("es-CO").format(this.product.price)
        },
        totalProducts() {
          return this.addedProducts.reduce((acc, product) => acc + (product.price * product.quantity), 0);
        }
      },
      created() {
        fetch('https://my-json-server.typicode.com/iosamuel/demo/products')
          .then(res => res.json())
          .then(data => {
            this.products = data;
          })
      }
    })
  </script>
  <script src="./components/badge.js"></script>
  <script src="./components/product.js"></script>
  <script>
    app.mount("#app");
  </script>
</body>
</html>